.nombre-videojuego{
  color: #FCA311;
  text-transform: capitalize;
}

.categoria-info{
  color: white;
  text-transform: capitalize;
}

.info-categoria{
  color: #FCA311;
  text-transform: capitalize;
}