.nombre-videojuego{
  color: #FCA311;
  text-transform: capitalize;
}

.categoria-info{
  color: white;
  text-transform: capitalize;
}

.info-categoria{
  color: #FCA311;
  text-transform: capitalize;
}

@media (min-width:780px){
  .contenedor-detalles-videojuego{
    width: 720px;
  }
}

/* 720 de ancho como maximo */